.success{
    background: lightgreen;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5% 1%;
    width: fit-content;
    border: 0px;
}
.danger{
    background: #fa9c9c;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5% 2.5%;
    width: fit-content;
    border: 0px;
}
.container{
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin-bottom: 10px;
}
.container-item{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    padding-right: 10px;
}
.name, .phone{
    font-size: 1.5rem;
    font-weight: 500;
}
.heading{
    font-size: 1.5rem;
    font-weight: bold;
    color:gray;
    text-transform: uppercase;
}
.container-body{
    padding: 20px;
}